@font-face
{
font-family: 'Inter';
src: url("Inter-Regular.woff");
}
/*general rules*/
i
{
font-style:italic;
padding: 0px;
}

*
{
font-family: 'Inter', 'Helvetica Neue'; 
color: #555;
text-align: justify;
margin: auto;
width: 640px;
padding: 10px;
}

img
{
display: block;
width: 450px;
border: 20px;
padding: 10px;
}

figcaption
{
font-size: 9pt;
width: 450px;
}

pre code 
{
  background-color: #eee;
  border: 1px solid #eee;
  width: 640px;
  display: block;
}

code
{
background-color: #eee;
font-family: 'Menlo', 'Courier New';
font-size: 9pt;
padding: 1px;
line-height: 150%;
}

p
{
font-size: 10.5pt;
line-height: 175%;
}

h2
{
text-align: center;
font-size: 24pt;
}

h3
{
text-align: center;
font-size: 17pt;
}

li
{
font-size: 10.5pt;
}

a
{
padding: 0px;
}
