/*general rules*/
@font-face
{
  font-family: 'CMU';
  src: url('./cmunrm.ttf')
}

@font-face
{
  font-family: 'CMU_it';
  src: url('./cmunti.ttf')
}

@font-face
{
    font-family: 'CMU_mono';
    src: url('./cmuntt.ttf')
}

*
{
    /*#f2f2cb*/
background-color: #ffffff;
font-family: 'CMU'; 
font-style: normal;
font-variant: normal; 
color: #000000;
letter-spacing: 0.01em;
text-decoration: none;
}

i
{
font-style:normal;
font-family:'CMU_it';
}

code
{
font-style:normal;
font-family: 'CMU_mono';
text-align: justify;
font-size: 1vw;
line-height: 4vw;
}

/*Article rules*/

.article
{
margin: auto;
width: 70vw;
border: 5vw;
padding: 5vw;
}

p.article
{
text-align: justify;
font-size: 2vw;
line-height: 4vw;
}

h2.article
{
text-align: center;
font-size: 4vw; 
font-weight: bold; 
line-height: 4vw; 
}

h3.article
{
text-align: center;
font-size: 3vw;
font-weight: bold; 
line-height: 3vw;
}

#poem.article
{
position: relative;
top: 10px;
left: 5%;
}

a.article
{
padding: 0;
margin: 50px;
position: relative;
left:auto;
right: auto;
top: 250px;
}

/*rules to build menu bar*/

.container
{
position: fixed;
display: inline-block;
cursor: pointer;
background: rgba(76, 175, 80, 0.0);
}

.bar1, .bar2, .bar3
{
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: .1s;
}

.change .bar1 
{
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3
{
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}

/* rules for images */
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*rules for navigation */
a.navigation
{
font-size: 161.8%;
font-weight: 200; 
line-height: 100%;
background-color: rgba(76, 175, 80, 0.0);
}
nav
{
display: none;
}

.change nav
{
display: inline;
}
/*rules for archive*/

.archive
{
margin: auto;
width: 70%;
border: 15px;
padding: 20px;
}

.tiny
{
text-align: center;
font-size: 60%;
line-height: 20%;
font-weight: 200;
}

h3.archive
{
text-align: center;
font-size: 161.8%;
font-weight: bold; 
line-height: 161.8%;
}
