i
{
font-style:italic;
}

*
{
font-family: 'Palatino', 'Times New Roman'; 
color: #000;
text-align: center;
margin: auto;
width: 640px;
padding: 10px;
}

img
{
display: block;
width: 100px;
border: 10px;
padding: 20px;
}

h2
{
font-size: 17pt;
}

h3
{
font-size: 14pt;
}

p
{
text-align: justify;
font-size: 10.5pt;
line-height: 175%;
}

li
{
text-align: justify;
font-size: 10.5pt;
line-height: 175%;
}
a
{
padding: 0px;
text-decoration: none;
}

